
/* // Header // */
.header {
  /* height: var(--header-height); */
  height: 120px;
  width: 100%;
  z-index: 2;
  position: relative;
}
.title {
  font-family: Raleway;
  font-weight: 900;
  position: relative;
  /* color: var(--buttons); */
  /* color: var(--sky-blue); */
  /* color: var(--session-color); */
  /* color: #deba39; */
  color: rgb(146, 173, 232);
  color: rgb(80, 108, 169);
  color: rgb(52, 72, 107);
}
.clever {
  font-size: 2.5rem;
  position: absolute;
  left: 6.5rem;
  top: .35rem;
  /* color: #3a8592; */
  /* color: rgb(82, 117, 128); */
  z-index: 1;
}
.clive {
  font-size: 5rem;
  position: absolute;
  left: .8rem;
  top: .8rem;
}

.mascot-container {
  margin-top: 1.2rem ;
}
.mascot-base {
  transition: opacity .3s ease;
  top: 0;
  left: 0;
  width: 100px;
  position: absolute;
}
.mascot{
  transition: opacity .3s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}
.show {
  opacity: 1;
}
.hide {
  opacity: 0;
}


.menu-title {
  font-weight: 700;
}