@import './header.css';
@import './profile.css';
@import './popup.css';
@import './menus.css';
@import './session.css';
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;400;600;800&display=swap');

body,html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}
* {
  box-sizing: border-box;
}
:root {

  --buttons: rgb(173, 191, 224); 

  --muted: #4a617b;

  --secondary: #e1a21b;

  --sub-heading: rgb(162, 179, 203) ;

  --heading: #ffffff;

  --hover-bg: rgb(52, 72, 107);
  
  --utility: #ffbc2a;
  --utility-2: #e0b14b;
  /* --secondary: #1e6877 ; */
  --item: #ffffff ;
  --green: #44da79 ;
  --mute-green: rgb(95, 166, 134);
  /* --buttons: white ; */
  --svg-inactive: #c1ccda ;
  --bg: #13171e;
  --header-height: 112px;
  --mute-blue: rgb(80, 108, 169);
  --font-header: Barriecito ; 
  --session-color: #e0b14b;
  /* --session-color: white; */
  --sky-blue: rgb(56, 99, 173);
  --session-buttons: rgb(140, 145, 170) ;

}
body {
  font-family: Raleway;
  text-align: center;
  background: none;
  background: rgb(19 23 30);
  /* background:  radial-gradient(at 46% 42%, rgb(33, 40, 51) 0%, rgb(19 23 30) 100%); */
  background:  radial-gradient(at 55% 62%, rgba(33, 40, 51, 0.82) 0%, rgba(19, 23, 30, .82) 100%),
               url('../assets/net1.jpg');
               /* <a href="https://www.freepik.com/free-vector/futuristic-networking-technology-background-vector-purple-tone_16252223.htm#page=8&query=technology%20background%20hd&position=49&from_view=keyword&track=ais">Image by rawpixel.com</a> on Freepik */
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #bf8867;
  color: white;
  min-height: 100vh; 
  /* animation: bgAnim 8s forwards ease; */
  /* position: ; */
}
.container {
  overflow: hidden;
  min-height: 600px;
  /* min-height: 100% ; */
}
.row {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}



/* Walkthrough Popup */
.walkthrough-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
  transition: all 1s ease;
  top: 0;
  left: 0;
}
.walkthrough {
  border-radius: 10px;
  position: absolute;
  width: 280px;
  height: 420px;
  left: 50%;
  top: 200px;
  transform: translateX(-50%) translateY(0%); 
} 
.next-button {
  color: var(--green);
  border: .5px solid rgba(52, 196, 107, 0.463);
  border-radius: 3px;
  width: 100px;
  padding: .5rem .5rem .7rem;
  margin: 2rem auto;
  position: relative;
  cursor: pointer;
}
.fade-anim {
  animation: fade-anim 1.2s ease .9s forwards;
}

@keyframes fade-anim {
 0% {
   opacity: 1;	
 }
 100% {
   opacity: 0;
 }
}


/* Utitlity Classes */
.top {
  top: 0;
  bottom: unset;
}
.top-110 {
  top: 110px;
}
.right {
  right: 0;
  left: unset;
}
.left {
  left: 0;
  right: unset;
}
.bottom {
  bottom: 0;
  top: unset;
}
.mid-x {
  left: 50%;
  transform: translateX(-50%);
}
.mid-y {
  top: 50%;
  transform: translateY(-50%);
}
/* .left-50 {
  transform: translateX(-50%);
} */
/* .up-50 {
  transform: translateY(-50%);
} */
.translate-none {
  transform: translate(0, 0);
}



.disable-caret {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
   user-select: none;       
}

.fill-orange {
  fill: var(var(--secondary))
}




/* 

BS Breakpoints	

None	  <576px
sm	    ≥576px
md	    ≥768px
lg	    ≥992px
xl	    ≥1200px
xxl	    ≥1400px 

*/



/* bgs */

.bg-1 {
  background:  radial-gradient(at 46% 42%, rgba(33, 40, 51, 0.7) 0%, rgba(19, 23, 30, .7) 100%),
  url('../assets/net1.jpg');
}
.bg-2 {
  background:  radial-gradient(at 46% 42%, rgba(33, 40, 51, 0.7) 0%, rgba(19, 23, 30, .7) 100%),
  url('../assets/net2.jpg');
}
.bg-3 {
  background:  radial-gradient(at 46% 42%, rgba(33, 40, 51, 0.7) 0%, rgba(19, 23, 30, .7) 100%),
  url('../assets/net3.jpg');
}
.bg-4 {
  background:  radial-gradient(at 46% 42%, rgba(33, 40, 51, 0.7) 0%, rgba(19, 23, 30, .7) 100%),
  url('../assets/net4.jpg');
}
.bg-5 {
  background:  radial-gradient(at 46% 42%, rgba(33, 40, 51, 0.7) 0%, rgba(19, 23, 30, .7) 100%),
  url('../assets/net5.jpg');
}
.bg-6 {
  background:  radial-gradient(at 46% 42%, rgba(33, 40, 51, 0.7) 0%, rgba(19, 23, 30, .7) 100%),
  url('../assets/net6.jpg');
}
.bg-7 {
  background:  radial-gradient(at 46% 42%, rgba(33, 40, 51, 0.7) 0%, rgba(19, 23, 30, .7) 100%),
  url('../assets/net7.jpg');
}

@keyframes bgAnim {
  0% {
    background:  radial-gradient(at 46% 42%, rgba(33, 40, 51, 0.7) 0%, rgba(19, 23, 30, .7) 100%),
    url('../assets/net5.jpg');
  }
  50% {
    background:  radial-gradient(at 46% 42%, rgba(33, 40, 51, 0.7) 0%, rgba(19, 23, 30, .7) 100%),
    url('../assets/net6.jpg');
  }
}