
.lobby-menu {
  border-radius: 6px;
  background: rgb(32, 39, 51);
  /* background: linear-gradient(-65deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.027) 50%, rgba(255, 255, 255, 0) 70%), 
              rgba(32, 39, 51, 1); */
  background-position: 0 0 , 0 0, 0 0;
  position: relative;
  box-shadow: -2px 2px 10px rgba(19, 23, 30, 0.505);
  transition: all .4s ease;
}
/* .lobby-menu:hover {
  background: rgba(32, 39, 51, 1);
  background: linear-gradient(-65deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.027) 50%, rgba(255, 255, 255, 0) 70%), 
  rgba(32, 39, 51, 1);
} */



.sessions-menu {
  border-radius: 6px;
  background: rgba(32, 39, 51, 1);
  /* background: linear-gradient(-65deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.027) 50%, rgba(255, 255, 255, 0) 70%), 
              rgba(32, 39, 51, 1)
              ; */
  transition: all .4s ease;
  position: relative;
  box-shadow: -2px 2px 10px rgba(19, 23, 30, 0.518);
}
/* .sessions-menu:hover {
  background: rgba(32, 39, 51, 1);
  background: linear-gradient(-65deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.027) 50%, rgba(255, 255, 255, 0) 70%), 
  rgba(32, 39, 51, 1);
} */
.glare {
  transition: all .4s ease;
}
.glare:hover {
  /* background: rgba(32, 39, 51, 1); */
  background: linear-gradient(-65deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.038) 50%, rgba(255, 255, 255, 0) 100%), 
  rgba(32, 39, 51, 1);
}

.menu-title {
  position: relative;
  transition: all .3s ease;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--buttons);
  /* text-transform: uppercase; */
}


.sub-h {
  font-size: 1rem;
  color: var(--sub-heading);
  text-align: left;
}

@media (max-width: 768px) {
  .width-0 {
    width: 0;
  }
}
.minimize-svg, .expand-svg {
  fill: rgb(61, 72, 92);
  width: 18px;
  position: absolute;
  top: 1.2rem;
  left: 1.6rem;
}

.user-thumb {
  /* border-radius: 30px 30px 30px 30px; */
  border-radius: 50px;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.274);
  transition: background-color .2s ease;
  transition: all .2s ease;
  font-weight: 600;
  /* width: 80px; */
  height: 36px;
  /* min-width: 60px; */
  /* max-width: 120px; */
  /* display: inline; */
  overflow: hidden;
}
.user-thumb:hover {
  background: rgb(52, 72, 107);
  cursor: pointer;
  
}
.user-thumb-name {
  /* text-align: left; */
  width: 100%;
  position: relative;
  margin: auto 0;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}

.session-thumb {
  color: var(--item);
  font-weight: 600;
  font-size: 1rem;
  background: rgba(36, 42, 54, 0.963);
  border-radius: 0 20px 20px 20px;
  box-shadow: -1px 2px 4px rgba(19, 23, 30, 0.452);
  margin: .8rem;
  transition: all .2s ease;
  overflow: hidden;
  text-align: left;
}
.session-thumb:hover {
  background: rgb(52, 72, 107);
  cursor: pointer;
}
@media (min-width: 576px) {
  .session-thumb {
    text-align: center;
  }
}

/* Create Session */
.show-create-session-button {
  position: absolute;
  top: .4rem;
  /* transform: translateY(-50%); */
  right: 1rem;
  z-index: 2;
  fill: var(--buttons);
  width: 30px;
  transition: all .5s ease;
}
.clickout-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.create-session {
  z-index: 1;
  width: 200px;
  position: absolute;
  top: 0rem;
  right: 0rem;
  border-radius: 15px 2px 15px 15px;
  border-radius: 4px 4px 4px 25px;
  background: rgb(52, 72, 107);
  box-shadow: 0 2px 5px #0b0b0d69;
}
@media (min-width: 992px) {
  .create-session {
    width: 240px;
  }
}

.new-session-title-input {
  background: rgb(52, 72, 107);
  border: none;
  border-bottom: 2px solid var(--utility);
  outline: none;
  color: white;
  caret-color: #ffdfbf ;
  max-width: 78%;
  border-radius: 0;
}
.new-session-title-input::placeholder {
  color: rgb(217, 234, 253);
}

.create-session-button {
  border-radius:8px 0 8px 8px;
  border-radius: 4px;
  border-top: 1px solid #ffe9b823;
  border-left: 1px solid #ffe5ae44;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.162);
  
  color: #ffbc2a;
  color: var(--utility);
  transition: all .2s ease;
}

.create-session-button:hover {
  /* background-color: rgb(59, 105, 151); */
  background-color: #ffbc2a;
  background-color: var(--utility);
  color: rgb(19, 23, 30)
}


