/* Profile */
.profile {
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: 4;
  width: 100%;
  max-width: 400px;
  /* box-shadow: -2pb 0 3px rgb(19 23 30) !important; */
}
.profile-icon {
  top: 3.6rem;
  width: 100%;
  width: 40px;
  height: 40px;
  border: 1px solid #ffbc2a;
  border-radius: 20px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffbc2a;
  cursor: pointer;
  z-index: 4;
  transition: all .4s ease;
}

/* Signed Out */
.auth-buttons {
  position: absolute;
  top: .7rem;
  right: .5rem;
  font-weight: 500;
  width: 60px;
}
.auth-buttons svg {
  width: 20px;
  display: inline;
}
.signup-button {
  border: 1px solid #5a91a0;
  color: #5a91a0;
  transition: all .4s ease;
  cursor: pointer;
  border-radius: 5px;
  /* width: 100%; */
}
.signup-button:hover {
  background: #5a91a0;
  color: white;
}
.signup-svg {
  fill: #5a91a0;
  transition: all .4s ease;
}
.signup-button:hover svg {
  fill: white;
}

.login-button {
  border: 1px solid #5785c1;
  color: #5785c1;
  transition: all .2s ease;
  cursor: pointer;
  border-radius: 5px;
  /* width: 100%; */
}
.login-button:hover {
  background: #5785c1;
  color: white;
}
.login-svg {
  stroke: #5785c1;
  fill: none;
  transition: all .4s ease;
}
.login-button:hover svg {
  stroke: white;
}

/* Signed In */

.help {
  position: absolute;
  bottom: 1.2rem;
  left: 1.6rem;
  width: 14px;
  z-index: 1;
  cursor: pointer;
}
.help svg {
  fill: #3a4961;
  transition: all .4s ease;
}
.help svg:hover {
  fill: #536889;
}
.logout-button {
  position: absolute;
  right: .5rem;
  bottom: 1rem;
  border: 1px solid #ffbc2a;
  color: #ffbc2a;
  font-size: 1rem !important;
  transition: all .2s ease;
  cursor: pointer;
  border-radius: 5px;
  width: 36px;
}
.logout-button:hover {
  background: #ffbc2a;
  color: white;
}
.logout-svg {
  width: 20px;
  stroke: #ffbc2a;
  fill: none;
  transition: all .4s ease;
}
.logout-button:hover svg {
  stroke: white;
}

@media (min-width: 576px) {
  .profile-icon {
    right: 2rem;
  }
  .auth-buttons {
    width: 140px;
  }
  .logout-button {
    width: 140px;
  }
  .help {
    left: 2.4rem;
  }
}