/* Profile */
.profile {
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: 4;
  width: 100%;
  max-width: 400px;
  /* box-shadow: -2pb 0 3px rgb(19 23 30) !important; */
}
.profile-icon {
  top: 7.4rem;
  width: 100%;
  width: 32px;
  height: 32px;
  border: 1.5px solid var(--sub-heading);
  border-radius: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  color: #ffbc2a;
  color: var(--sub-heading);
  cursor: pointer;
  z-index: 4;
  transition: all .4s ease;
}
.dark-bg {
  background: #34486b !important;
}


/* Signed Out */
.auth-buttons {
  position: absolute;
  top: .7rem;
  right: .5rem;
  font-weight: 500;
  width: 60px;
}
.auth-buttons svg {
  width: 20px;
  display: inline;
}

.email-signup-input,
.password-signup-input,
.name-signup-input,
.email-signin-input,
.password-signin-input {
    /* margin: auto; */
    /* max-width: 260px; */
    margin-bottom: 1rem;
    padding-left: .6rem;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    background: none;
    border: none;
    border-bottom: 2px solid var(--utility);
    border-radius: 3px 3px 0 0;
    outline: none;
    color: white;
    caret-color: #ffdfbf ;
}
.email-signup-input:focus,
.password-signup-input:focus,
.name-signup-input:focus,
.email-signin-input:focus,
.password-signin-input:focus {
  background: rgb(52, 72, 107);
  border: none;
  border-radius: 3px 3px 0 0;
  border-bottom: 2px solid var(--utility);
}
 
.password-signup-input {

}
.name-signup-input {

}
.email-signin-input {

}
.password-signin-input {

}

.submit-signup-button, 
.submit-signin-button {
  color: white;
  background: none;
  border: 1px solid rgb(93, 103, 114);
  border-radius: 30px;
  font-size: 1rem;
  margin-top: 2rem;
  padding: .8rem 1.4rem;
  transition: all .4s ease;
}
.submit-signup-button:hover, 
.submit-signin-button:hover {
  border-bottom: 1px solid #ffbc2a;
  background: #ffbc2a;
  color: rgb(28, 42, 56);
  font-weight: 600;
}


/* HUD signup */
.signup-button {
  border: 1px solid #5a91a0;
  color: #5a91a0;
  transition: all .4s ease;
  cursor: pointer;
  border-radius: 5px;
  /* width: 100%; */
}
.signup-button:hover {
  background: #5a91a0;
  color: white;
}
.signup-svg {
  fill: #5a91a0;
  transition: all .4s ease;
}
.signup-button:hover svg {
  fill: white;
}

.login-button {
  border: 1px solid #5785c1;
  color: #5785c1;
  transition: all .2s ease;
  cursor: pointer;
  border-radius: 5px;
  /* width: 100%; */
}
.login-button:hover {
  background: #5785c1;
  color: white;
}
.login-svg {
  stroke: #5785c1;
  fill: none;
  transition: all .4s ease;
}
.login-button:hover svg {
  stroke: white;
}

/*   Signed In   */


/* Change Name */
.change-name-container {
  margin-top: 5rem !important;
  position: relative;
  width: 100%;
  /* height: 80px; */
}
.change-display-name-input {
  font-size: 1rem;
  font-weight: 500;
  background: none;
  border: none;
  border-bottom: 2px solid var(--utility);
  border-radius: 3px 3px 0 0;
  outline: none;
  color: white;
  caret-color: #ffdfbf ;

}
.change-display-name-input:focus {
  background: rgb(52, 72, 107);
  border: none;
  border-radius: 3px 3px 0 0;
  border-bottom: 2px solid var(--utility);
}
.submit-change-name {
  font-size: 1rem;
  border-radius: 3px 3px 0 0;
  color: var(--session-buttons);
  transition: all .2s ease;
  fill: rgb(83, 99, 127);
}
.submit-change-name:hover {
  fill: rgb(139, 163, 206);
}


/* //Help */
.help {
  position: absolute;
  bottom: 1.2rem;
  left: 1.6rem;
  width: 14px;
  z-index: 1;
  cursor: pointer;
}
.help svg {
  fill: #3a4961;
  transition: all .4s ease;
}
.help svg:hover {
  fill: #536889;
}
.logout-button {
  position: absolute;
  right: .5rem;
  bottom: 1rem;
  border: 1px solid #ffbc2a;
  border: 1px solid var(--utility);
  color: #ffbc2a;
  color: var(--utility);
  font-size: 1rem !important;
  transition: all .2s ease;
  cursor: pointer;
  border-radius: 5px;
  width: 36px;
  font-weight: 600;

}
.logout-button:hover {
  background: #ffbc2a;
  background: var(--utility);
  color: rgb(42, 41, 58);
}
.logout-svg {
  width: 20px;
  stroke: #ffbc2a;
  fill: none;
  transition: all .4s ease;
  position: relative;
  /* top: 50%; */
  /* transform: translateY(-50%); */
}
.logout-button:hover svg {
  stroke: white;
  stroke: rgb(42, 41, 58);

}

@media (min-width: 576px) {
  .profile-icon {
    right: 2rem;
  }
  .auth-buttons {
    width: 140px;
  }
  .logout-button {
    width: 140px;
  }
  .help {
    left: 1.6rem;
  }
}

@media (min-width: 768px) {
  .profile-icon {
    width: 35px;
    height: 35px;
    font-size: 1.45rem;
  }
}