
:root {
  --buttons: #fbae7e ;
  --purple: #945ace ;
  --light-purple: #b69afd;
  --tan: #bcbaa4 ;
  --btn-text: rgb(170, 177, 254);
  --text: rgb(173, 176, 203);
  /* --text-bg:  #34395b; */
  --text-bg:  rgb(34, 34, 54);
  /* background: #1E2134;
  background-size: cover;
  background-repeat: no-repeat;
  background: radial-gradient(at 10% 10%, rgb(41, 44, 76) 0%, rgb(28 24 38) 100%); */

}
body {
  text-align: center;
  background: none;
  background: #1E2134;
  /* background: radial-gradient(at bottom right, rgba(52,57,91,1) 0%, rgba(41,30,52,1) 87%);
  background: radial-gradient(at top center, rgba(52,64,91,1) 14%, rgba(60,52,91,1) 39%);
  background: radial-gradient(at 10% 10%, rgb(41, 44, 76) 0%, rgb(28 24 38) 100%); */
  background-size: cover;
  background-repeat: no-repeat;
  color: #bf8867;
  color: white;
  height: 100vh; 
  /* margin: 0; */
}
i, b {
  font-size: 1.2rem;
}

/* .App {
  height: 100vh;
} */

/* // Header // */

.header {
  height: 100px;
  border-bottom: 1px solid #181b2d;
  /* box-shadow: 0px 6px 6px 0px #7a84be; */
  width: 100%;
  z-index: 2;
  position: relative;
}
.title {
  /* font-size: 2rem; */
  font-weight: 800;
  color: var(--buttons);
  color: #C16ADF;
  position: relative;
}
.clever {
  font-size: 2.5rem;
  position: absolute;
  right: -1.2rem;
  /* left: 2rem; */
  top: -.4rem;
  color: #ffffff;
  color: #8bdeff;
  z-index: 1;
}
.clive {
  font-size: 5rem;
  position: absolute;
  left: -.4rem;
  top: 0;
}
/* .mascot-container {

} */
.mascot-base {
  transition: opacity .3s ease;
  top: 0;
  left: 0;
  width: 100px;
  position: absolute;
}
.mascot{
  transition: opacity .3s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}
.show {
  opacity: 1;
}
.hide {
  opacity: 0;
}

/* // Text Box // */
/* .box {
  height: 100%;
} */
/* .text */
.text {
  position: relative;
  font-size: 1rem;
  color: white;
  /* bottom: 0; */
  /* left: 0; */
  /* padding: 1rem; */
  width: 100%;
  /* height: 85vh; */
  height: calc(100vh - 100px);
  /* height: 100vh ;  */
  border: none;
  background: var(--text-bg);
  background: radial-gradient(at 50% 15%, rgb(41, 44, 76) 0%, rgb(28 24 38) 100%);
  /* border: 1px solid #454a6b; */
  /* box-shadow: 0px 2px 12px 0px #454a6b; */
}
.text::placeholder{
  color: rgb(129, 135, 191)
}
.text:focus {
  outline: 0;
}

.button {
  background: #40466d;
  color: var(--btn-text);
  border: 1px solid #40466d;
  /* box-shadow: -1px 2px 3px 0px #87c6d097; */

}
.button:hover {
  font-weight: 400;
  background: #515886;
  /* color: var(--buttons); */
  /* border: 1px solid var(--buttons); */
}
.button:focus {
  box-shadow: none;
}

/* // Controls // */
.controls {
  position: fixed;
  right: .8rem;
  bottom: 7rem;
  width: 12vw;
  z-index: 1;
}
.controls-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: none;
  z-index: 2;
}
.controls svg {
  fill:#232323;
}

.think {
  fill: var(--btn-text);
  transition: all .3s ease;
  display: inline;
  /* fill:#232323; */
  width: 160%;
  transform: translateX(-15%);

}
.speak {
  fill: var(--btn-text);
  transition: all .3s ease;
  display: inline;
  /* fill:#232323; */
  width: 140%;
  transform: translateX(-10%);
}
.undo {
  fill: var(--btn-text);
  transition: all .1s ease;
  display: inline;
  /* fill:#232323; */
  /* width: 100%; */
  transform: translateX(-5%) translateY(-15%);
  width: 120%;

}
.undo.highlight{
  fill: var(--buttons);
}
.svg-w {
  width: 140%;
  transform: translateX(-10%);
}


.popup-bg {
  position: fixed;
  background: rgba(0, 0, 0, 0.669);
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.644) 54%, rgba(0,0,0,1) 100%);
  width: 100%;
  height: 100vh;
  z-index: 2;
}
.popup {
  position: absolute;
  background: black;
  /* z-index: 2; */
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  /* width: 100%; */
  /* right: 0px; */
  /* left: 2.5%; */
  /* top: 25%; */
  height: 60%;
  bottom: 0;
  border-radius: 5px;
  box-shadow: 0 1px 70px 0px rgba(255, 255, 255, 0.233);
} 

.next-button {
  border: .5px solid rgba(255, 255, 255, 0.489);
  border-radius: 3px;
  width: 100px;
  padding: .5rem;
  margin: 1rem auto;
}

/* .popup-mics {
  width: 100px;
} */


.popup-mic {
  animation: micAnim 5s ease 0s infinite;
}
@keyframes micAnim {
	0%, 40%, 100% {
		fill: #222;
	}

  50%, 90% {
		fill: #fbae7e;
	}
}

.popup-bubble {
  animation: bubbleAnim 4s ease 0s;
}
@keyframes bubbleAnim {
	0%, 40%{
		fill: #222;
	}
  50%{
		fill: #fbae7e;
	}
}



/* 
.button:hover .arrow-up {
  
  fill: var(--buttons);
  transform: rotate(4deg) scale(1.25)  translateX(-5%);
} */
